{% extends "base.html" %}

{% block content %}

<h2>Student-wise Subject Performance</h2>

<table>
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Student Name</th>
            <th>Course</th>
            <th>Exam</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Marks Obtained</th>
            <th>Maximum Marks</th>
            <th>Percentage</th>
            <th>Grade</th>
        </tr>
    </thead>

    <tbody>
        {% for item in performance %}
        <tr>
            <td>{{ item.roll_no }}</td>
            <td>{{ item.student_name }}</td>
            <td>{{ item.course_name }}</td>
            <td>{{ item.exam_name }}</td>
            <td>{{ item.subject_code }}</td>
            <td>{{ item.subject_name }}</td>
            <td>{{ item.marks_obtained }}</td>
            <td>{{ item.max_marks }}</td>
            <td>{{ item.percentage }}%</td>
            <td>{{ item.grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}